<section class="cd-section">
  <div class="container">
    <h2>About Us</h2>
    <span class="subhead">Wow Auto</span>
    <br>
  <div class="description">
  WOW believes that it's our responsibility as humans to join together and save our planet and help the people who live in it. 
  EVERY single month WOW will choose an organization where we will raise money for. 
  We have many other projects that we are working on and will keep every WOWER informed of the advantages that we will have to help this planet and its people.</div>
</div>
</section>

<app-footer></app-footer>