<header>
  <div class="container">
    <div class="d-flex">
      <div class="logo">
        <a href="/">
          <img class src="assets/img/svg/Logo.svg">
        </a>
      </div>
      <img class="menu" src="assets/img/menu.png">
      <div class="social">
        <a href="https://facebook.com/wowleasing/" target="_blank">
          <img src="assets/img/svg/Facebook.svg">
        </a>
        <a href="https://www.instagram.com/wowautoapp/?igshid=aa4foa5f2au8" target="_blank">
          <img src="assets/img/svg/Instagram.svg">
        </a>
      </div>
      <div class="right-block">
        <div class="first-line">
          <span class="info phone">
              <i class="fas fa-phone-alt"></i>
              1-844-797-2577
          </span>
          <span class="info location">
              <i class="fas fa-map-marker-alt"></i>
              Planet Earth
          </span>
        </div>
        <div class="second-line">
          <span class="info tree">
            <img src="assets/img/svg/Tree.svg">
            <span> Trees Planted: </span>
            <span class="count">240 </span>
            <span>(00:08)</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a href="#section1" data-number="1">
        <span class="cd-dot"></span>
        <span class="cd-label">section 1</span>
      </a>
    </li>
    <li>
      <a href="#section2" data-number="2">
        <span class="cd-dot"></span>
        <span class="cd-label">section 2</span>
      </a>
    </li>
    <li>
      <a href="#section3" data-number="3">
        <span class="cd-dot"></span>
        <span class="cd-label">section 3</span>
      </a>
    </li>
    <li>
      <a href="#section4" data-number="4">
        <span class="cd-dot"></span>
        <span class="cd-label">section 4</span>
      </a>
    </li>
    <li>
      <a href="#section5" data-number="5">
        <span class="cd-dot"></span>
        <span class="cd-label">section 5</span>
      </a>
    </li>
  </ul>
</nav>
<img class="chat" src="assets/img/svg/chat1.svg">

<section id="section1" class="cd-section">
  <div class="container flex-centered">
      <div class="section1-left-block ">
        <img src="assets/img/phone.png">
      </div>
      <div class="block-description">
          <h1 class="section-heading">A New Solution</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ex incidunt illo nam 
            omnis magni asperiores corrupti vitae quaerat pariatur, obcaecati maiores minus facere totam officiis autem impedit temporibus veritatis.
            Molestiae ex incidunt illo nam omnis magni asperiores corrupti vitae quaerat pariatur, obcaecati 
            maiores minusfacere impedit temporibus veritatis.
          </p>
          <div class="promo">
            <span>Monthly promo</span>
          </div>
          <div class="avaliable-block">
            <a class="avaliable-btn app-store" href="#">
                <img src="assets/img/svg/AppStore.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">App Store</div>
                </div>
            </a>
            <a class="avaliable-btn google-play" 
              href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
                <img src="assets/img/svg/GooglePlay.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">Google Play</div>
                </div>
            </a>
          </div>
        </div>
  </div>
  <a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section2" class="cd-section">
  <div class="container flex-centered">
    <div class="section2-left-block">
      <div class="image-wrapper">
        <div class="image">
            <img src="assets/img/svg/Group15.svg">
        </div>
        <div class="image">
            <img src="assets/img/svg/Group16.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group17.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group18.svg">
        </div>
      </div>
      <img class="wood" src="assets/img/svg/Group.svg">
      <p>We plant a tree for every car sold</p>
    </div>
      <div class="block-description">
        <h1 class="section-heading">Our Mission</h1>
        <p class="section2-subtitle">
          What is a carboon foot print?
        </p>
        <p class="section2-description">
          Topics of interest include the biodiversity, distribution, 
          biomass, and populations of organisms, as well as cooperation and competition within and between species. 
          Ecosystems are dynamically interacting systems of organisms, the communities they make up, and the non-living 
          components of their environment. Ecosystem processes, such as primary production.
        </p>

        <span class="hashtag">#fixyourcarbonfootprint</span>
      </div>
  </div>
  <a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section3" class="cd-section column">
  <div class="container flex-centered">
    <h1 class="section-heading">how to...</h1>
    <p class="section3-subtitle">
      Lease a car in 3 easy steps
    </p>
    <div class="steps">
      <div>
        <img src="assets/img/Rectangle.png">
      </div>
      <div>
        <img src="assets/img/Rectangle.png">
      </div>
      <div>
        <img src="assets/img/Rectangle.png">
      </div>
    </div>
    <div class="avaliable-block">
        <a class="avaliable-btn app-store" href="#">
            <img src="assets/img/svg/AppStore.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">App Store</div>
            </div>
        </a>
        <a class="avaliable-btn google-play" 
          href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
            <img src="assets/img/svg/GooglePlay.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">Google Play</div>
            </div>
        </a>
      </div>
  </div>
  <a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section4" class="cd-section column">
  <div class="container flex-centered">
    <h1 class="section-heading">this month's pledge</h1>
    <div class="pledge-block">
      <div class="squares">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
      </div>
      <div class="counter">
        <div class="subtitle">Clock / Counter</div>
        <div class="title">$3.000</div>
      </div>
      <div class="hash-block">
        <img src="assets/img/Rectangle2.png">
        <span class="hashtag">#wowpledges</span>
      </div>
    </div>
  </div>
  <a href="#section5" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section5" class="cd-section column">
  <div class="container flex-centered">
    <div class="squares-block">
      <h1 class="section-heading">monthly</h1>
      <div class="row">
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
      </div>
      <div class="row mb5">
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
        </div>

      <h1 class="section-heading">Other vehicles / brands</h1>
      <div class="row mb5">
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
        </div>
    </div>
  </div>
</section>

