<header>
  <div class="container">
    <div class="d-flex">
      <div class="logo">
        <a routerLink="/">
          <img class src="assets/img/svg/Logo.svg">
        </a>
      </div>
      <img class="menu" (click)="openModal(template)" src="assets/img/menu.png">
      <div class="social">
        <a href="https://facebook.com/wowleasing" target="_blank">
          <img src="assets/img/svg/Facebook.svg">
        </a>
        <a href="https://instagram.com/wowautoapp/?igshid=aa4foa5f2au8" target="_blank">
          <img src="assets/img/svg/Instagram.svg">
        </a>
      </div>
      <div class="right-block">
        <div class="first-line">
          <span class="info phone">
              <i class="fas fa-phone-alt"></i>
              <a href="tel:646-995-9999">646-995-9999</a>
          </span>
          <span class="info location">
              <i class="fas fa-map-marker-alt"></i>
              Planet Earth
          </span>
        </div>
        <div class="second-line">
          <span class="info tree">
            <img src="assets/img/svg/Tree.svg">
            <span> Trees Planted: </span>
            <span class="count">425 </span>
            <!--<span>(00:08)</span>-->
          </span>
        </div>
      </div>
      <div class="profile-menu">
        <div class="dropdown show">
        <a type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
          <img src="assets/img/svg/Profile.svg">
        </a>
        <ul class="dropdown-menu">
          <li><a *ngIf="!auth.isLogged()" routerLink="/login">Log In</a></li>
          <li><a *ngIf="!auth.isLogged()" href="/registration">Register</a></li>
          <li><a href="/applications">Applications</a></li>
          <li><a *ngIf="auth.isLogged()" routerLink="/profile">Profile</a></li>
          <li><a *ngIf="auth.isLogged()" routerLink="/" (click)="auth.logout()" >Log Out</a></li>
          <!-- <li><a href="#">Make a Payment</a></li> -->
          <!-- <li role="separator" class="divider"></li> -->
          <!--<li><a href="#">Settings</a></li>-->
        </ul>
      </div>
      </div>
    </div>
  </div>
</header>

<!-- <img class="chat" src="assets/img/svg/chat1.svg"> -->

<router-outlet></router-outlet>

<ng-template #template>
  <app-mobile-menu-modal></app-mobile-menu-modal>
</ng-template>