<header>
  <div class="container">
    <div class="d-flex">
      <div class="logo">
        <a href="/">
          <img class src="assets/img/svg/Logo.svg">
        </a>
      </div>
      <img class="menu" src="assets/img/menu.png">
      <div class="social">
        <a href="https://facebook.com/wowleasing/" target="_blank">
          <img src="assets/img/svg/Facebook.svg">
        </a>
        <a href="https://www.instagram.com/wowautoapp/?igshid=aa4foa5f2au8" target="_blank">
          <img src="assets/img/svg/Instagram.svg">
        </a>
      </div>
      <div class="right-block">
        <div class="first-line">
          <span class="info phone">
              <i class="fas fa-phone-alt"></i>
              1-844-797-2577
          </span>
          <span class="info location">
              <i class="fas fa-map-marker-alt"></i>
              Planet Earth
          </span>
        </div>
        <div class="second-line">
          <span class="info tree">
            <img src="assets/img/svg/Tree.svg">
            <span> Trees Planted: </span>
            <span class="count">240 </span>
            <span>(00:08)</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

  <router-outlet></router-outlet>