<div class="form-centered">
    <div class="custom-form boxshadow">
      <form  name="recoverPasswordForm">
        <div class="login-head">
          FORGOT PASSWORD?
        </div>
  
        <input type="email" class="login-form-control" placeholder="Email"
          id="login-username"/>
  

          <div class="clearfix">
              <button routerLink="/login" type="button" class="login-button half-width pull-left" id="login-btn" 
              [disabled]="isLoading">
                 CANCEL
               </button>
      
            <button type="button" class="login-button main-btn half-width pull-right" id="login-btn" 
           [disabled]="isLoading">
              NEXT
            </button>
          </div>
      </form>
    </div>
  
  
  
  