.container {
    padding-top: 100px;
  }

.half-width {
    width: 47%;
    margin-bottom: 40px;
    margin-top: 0;
}

.cd-section {
  min-height: 90vh;
  position: relative;
  padding: 2em 0;
  background: linear-gradient(0deg, rgba(140, 82, 255, 1) 20%, rgba(186, 104, 215, 1) 80%); 
}
