
<nav id="cd-vertical-nav">
  <ul>
    <li>
      <a href="#section1" data-number="1">
        <span class="cd-dot"></span>
        <span class="cd-label">section 1</span>
      </a>
    </li>
    <li>
      <a href="#section2" data-number="2">
        <span class="cd-dot"></span>
        <span class="cd-label">section 2</span>
      </a>
    </li>
    <li>
      <a href="#section3" data-number="3">
        <span class="cd-dot"></span>
        <span class="cd-label">section 3</span>
      </a>
    </li>
    <li>
      <a href="#section4" data-number="4">
        <span class="cd-dot"></span>
        <span class="cd-label">section 4</span>
      </a>
    </li>
    <li>
      <a href="#section5" data-number="5">
        <span class="cd-dot"></span>
        <span class="cd-label">section 5</span>
      </a>
    </li>
  </ul>
</nav>
<img class="chat" src="assets/img/svg/chat1.svg">

<section id="section1" class="cd-section">
  <div class="container flex-centered">
      <div class="section1-left-block ">
        <img src="assets/img/phone.png">
        <a routerLink="/login" class="auth-button log-in">log in</a>
        <a routerLink="/register" class="auth-button sign-up">sign up</a>
      </div>
      <div class="block-description">
          <h1 class="section-heading">A New Solution</h1>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ex incidunt illo nam 
            omnis magni asperiores corrupti vitae quaerat pariatur, obcaecati maiores minus facere totam officiis autem impedit temporibus veritatis.
            Molestiae ex incidunt illo nam omnis magni asperiores corrupti vitae quaerat pariatur, obcaecati 
            maiores minusfacere impedit temporibus veritatis.
          </p>
          <div class="promo">
            <span>Monthly promo</span>
          </div>
          <div class="avaliable-block">
            <a class="avaliable-btn app-store" href="#">
                <img src="assets/img/svg/AppStore.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">App Store</div>
                </div>
            </a>
            <a class="avaliable-btn google-play" 
              href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
                <img src="assets/img/svg/GooglePlay.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">Google Play</div>
                </div>
            </a>
          </div>
        </div>
  </div>
  <a href="#section2" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section2" class="cd-section">
  <div class="container flex-centered">
    <div class="section2-left-block">
      <div class="image-wrapper">
        <div class="image">
            <img src="assets/img/svg/Group15.svg">
        </div>
        <div class="image">
            <img src="assets/img/svg/Group16.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group17.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group18.svg">
        </div>
      </div>
      <img class="wood" src="assets/img/svg/Group.svg">
      <p>We plant a tree for every car sold</p>
    </div>
      <div class="block-description">
        <h1 class="section-heading">Our Mission</h1>
        <p class="section2-subtitle">
          What is a carboon foot print?
        </p>
        <p class="section2-description">
          Topics of interest include the biodiversity, distribution, 
          biomass, and populations of organisms, as well as cooperation and competition within and between species. 
          Ecosystems are dynamically interacting systems of organisms, the communities they make up, and the non-living 
          components of their environment. Ecosystem processes, such as primary production.
        </p>

        <span class="hashtag">#fixyourcarbonfootprint</span>
      </div>
  </div>
  <a href="#section3" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section3" class="cd-section column">
  <div class="container flex-centered">
    <h1 class="section-heading">how to...</h1>
    <p class="section3-subtitle">
      Lease a car in 3 easy steps
    </p>
    <div class="steps">
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_sport_car.png">
          </div>
          <div class="step-title">
            Select Your
            <div>Car</div>
          </div>
        </div>
        <div class="step-description">
            WoW Auto has partnered up with hundreds of dealers to guarantee to get you the best 
            lease and finance deals on all makes and models. Not sure on which car is right for you? 
            We will present you get the car you want and for the right price at no extra cost.
        </div>
        <img src="assets/img/1.png">
      </section>
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_car.png">
          </div>
          <div class="step-title">
            Select Your
            <div>Term</div>
          </div>
        </div>
        <div class="step-description">
            Because you’re shopping inventory from multiple dealers simultaneusly, 
            you have more options and flexibility.
        </div>
        <img src="assets/img/2.png">
      </section>
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_delivery-truck.png">
          </div>
          <div class="step-title">
            Schedule Your
            <div>Delivery</div>
          </div>
        </div>
        <div class="step-description">
            Within 24 hours of your submission, we can have your car delivered to your home 
            or office for absolutely free.
        </div>
        <img src="assets/img/3.png">
      </section>
    </div>
    <div class="avaliable-block">
        <a class="avaliable-btn app-store" href="#">
            <img src="assets/img/svg/AppStore.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">App Store</div>
            </div>
        </a>
        <a class="avaliable-btn google-play" 
          href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
            <img src="assets/img/svg/GooglePlay.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">Google Play</div>
            </div>
        </a>
      </div>
  </div>
  <a href="#section4" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section4" class="cd-section column">
  <div class="container flex-centered">
    <h1 class="section-heading">this month's pledge</h1>
    <div class="pledge-block">
      <div class="squares">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
      </div>
      <div class="counter">
        <div class="subtitle">Clock / Counter</div>
        <div class="title">$3.000</div>
      </div>
      <div class="hash-block">
        <img src="assets/img/Rectangle2.png">
        <span class="hashtag">#wowpledges</span>
      </div>
    </div>
  </div>
  <a href="#section5" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section5" class="cd-section column">
  <div class="container flex-centered">
    <div class="squares-block">
      <h1 class="section-heading">monthly</h1>
      <div class="row">
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
      </div>
      <div class="row mb5">
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
        </div>

      <h1 class="section-heading">Other vehicles / brands</h1>
      <div class="row mb5">
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
        </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
