<nav class="controls">
  <button class="section-anchor" data-btn="1" type="button"></button>
  <button class="section-anchor" data-btn="2" type="button"></button>
  <button class="section-anchor" data-btn="3" type="button"></button>
  <button class="section-anchor" data-btn="4" type="button"></button>
  <button class="section-anchor" data-btn="5" type="button"></button>
</nav>

<div class="slide-container">
    
  <div class="slideDiv">

<section id="section1" class="cd-section slide active">
  <div class="container flex-centered">
      <div class="section1-left-block anim-show">
        <img src="assets/img/phone.png">
        <a routerLink="/login" class="auth-button log-in pulsingButton">log in</a>
        <a routerLink="/registration" class="auth-button sign-up pulsingButton">sign up</a>
      </div>
      <div class="block-description">
          <h1 class="section-heading">A New Solution</h1>
          <p class="tagline">Our mission is to save the world one car at a time. WOW pledges to plant a tree for every car leased by our WOW leasey.</p>
          <p class="tagline">WOW believes that it's our responsibility as humans to join together and save our planet and help the people who live in it.</p>
          <div class="promo">
            <span>Monthly promo</span>
          </div>
          <div class="avaliable-block">
            <a class="avaliable-btn app-store"
            href="https://apps.apple.com/us/app/wow-auto-app/id1481191457">
                <img src="assets/img/svg/AppStore.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">App Store</div>
                </div>
            </a>
            <a class="avaliable-btn google-play" 
              href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
                <img src="assets/img/svg/GooglePlay.svg">
                <div class="btn-content">
                  <div class="avaliable-font1">Avaliable on the</div>
                  <div class="avaliable-font2">Google Play</div>
                </div>
            </a>
          </div>
        </div>
  </div>
  <a data-slide="1" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section2" class="cd-section slide">
  <div class="container flex-centered">
    <div class="section2-left-block">
      <div class="image-wrapper">
        <div class="image">
            <img src="assets/img/svg/Group15.svg">
        </div>
        <div class="image">
            <img src="assets/img/svg/Group16.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group17.svg">
        </div>   
        <div class="image">
            <img src="assets/img/svg/Group18.svg">
        </div>
      </div>
      <img class="wood" src="assets/img/svg/Group.svg">
      <p>We plant a tree for every car sold</p>
    </div>
      <div class="block-description">
        <h1 class="section-heading">Our Mission To Help Save The Planet</h1>
        <!-- <p class="section2-subtitle">
          What is a carboon foot print?
        </p> -->
        <p class="section2-description">
            WOW pledges to plant a tree for every car leased by our WOW leasey. 
            WOW believes that it's our responsibility as humans to join together and save our planet and help the people who live in it. 
            EVERY single month WOW will choose an organization where we will raise money for.
            We have many other projects that we are working on and will keep every 
            WOWER informed of the advantages that we will have to help this planet and its people.
        </p>
        <span class="hashtag">
          <a href="https://www.instagram.com/explore/tags/fixyourcarbonfootprint/"target="_blank">
            #fixyourcarbonfootprint</a> 
        </span>
      </div>
  </div>
  <a data-slide="2" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section3" class="cd-section column slide">
  <div class="container flex-centered">
    <h1 class="section-heading">how to...</h1>
    <p class="section3-subtitle">
      Lease a car in 3 easy steps
    </p>
    <div class="steps">
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_sport_car.png">
          </div>
          <div class="step-title">
            Select Your
            <div>Car</div>
          </div>
        </div>
        <div class="step-description">
            WoW Auto has partnered up with hundreds of dealers to guarantee to get you the best 
            lease and finance deals on all makes and models. Not sure on which car is right for you? 
            We will present you with the car you want and for the right price at no extra cost.
        </div>
        <img src="assets/img/1.png">
      </section>
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_car.png">
          </div>
          <div class="step-title">
            Select Your
            <div>Term</div>
          </div>
        </div>
        <div class="step-description">
            Because you’re shopping inventory from multiple dealers simultaneusly, 
            you have more options and flexibility.
        </div>
        <img src="assets/img/2.png">
      </section>
      <section class="step">
        <div class="step-heading">
          <div>
            <img src="assets/img/step_delivery-truck.png">
          </div>
          <div class="step-title">
            Schedule Your
            <div>Delivery</div>
          </div>
        </div>
        <div class="step-description">
            Within 24 hours of your submission, we can have your car delivered to your home 
            or office for absolutely free.
        </div>
        <img src="assets/img/3.png">
      </section>
    </div>
    <div class="avaliable-block">
        <a class="avaliable-btn app-store"
        href="https://apps.apple.com/us/app/wow-auto-app/id1481191457">
            <img src="assets/img/svg/AppStore.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">App Store</div>
            </div>
        </a>
        <a class="avaliable-btn google-play" 
          href="https://play.google.com/store/apps/details?id=app.ito.wow.auto.app">
            <img src="assets/img/svg/GooglePlay.svg">
            <div class="btn-content">
              <div class="avaliable-font1">Avaliable on the</div>
              <div class="avaliable-font2">Google Play</div>
            </div>
        </a>
      </div>
  </div>
  <a data-slide="3" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>

<section id="section4" class="cd-section column slide">
  <div class="container flex-centered">
    <h1 class="section-heading">this month's pledge</h1>
    <div class="pledge-block">
      <div class="squares">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
        <img src="assets/img/Rectangle1.png">
      </div>
      <div class="counter">
        <div class="subtitle">Clock / Counter</div>
        <div class="title">$3.000</div>
      </div>
      <div class="hash-block">
        <img src="assets/img/Rectangle2.png">
        <span class="hashtag">
          <a href="https://www.instagram.com/explore/tags/wowpledges/" target="_blank">#wowpledges</a></span>
      </div>
    </div>
  </div>
  <a data-slide="4" class="cd-scroll-down cd-img-replace">scroll down</a>
</section>
<section id="section5" class="cd-section column slide">
  <div class="container flex-centered">
    <div class="squares-block">
      <h1 class="section-heading">monthly</h1>
      <div class="row">
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
        <div class="img-block">
            <img src="assets/img/Rectangle3.png">
            <div>some text</div>
        </div>
      </div>

      <h1 class="section-heading">Other vehicles / brands</h1>
      <div class="row mb5">
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
          <div class="img-block">
              <img src="assets/img/Rectangle3.png">
              <div>some text</div>
          </div>
        </div>
    </div>
  </div>
  <a data-slide="0" class="cd-scroll-down cd-img-replace transformed">scroll down</a>
</section>

  </div>
