<div class="bg-wrapper">
  <div class="container">
    <div class="d-flex-row col-xs">
      <div class="left-col">
        <div class="profile-left-block centered">
          <img src="assets/img/Profile.png">
          <div class="user">
            John Dou
          </div>
          <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            11542 South Carolina Roud 27
          </div>
          <button type="submit" class="submit-button" id="update-btn">
            <div class="social-login-label">Update Preferences</div>
          </button>
          <div class="description user">
            Let us know best way to contact you.
          </div>
          <div class="user-help-block">
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="profile-left-block">
          <h4>Communications Preference</h4>
          <div class="description">
            Let us know best way to contact you.
          </div>
          <form id="communications-preference">
            <div class="radio-block">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="no-preference" name="preference" checked>
                <label class="custom-control-label" for="no-preference">No preference</label>
              </div>
              
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="preference-email" name="preference">
                <label class="custom-control-label" for="preference-email">Email</label>
              </div>

              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="preference-phone" name="preference">
                <label class="custom-control-label" for="preference-phone">Phone</label>
              </div>
            </div>
            <button type="submit" class="submit-button" id="update-btn">
              <div class="social-login-label">Update Preferences</div>
            </button>
          </form>
        </div>
        <div class="profile-left-block">
          <h4>Change Your Password</h4>
          <form id="change-password-form">
            <input type="text" class="form-control" placeholder="Current Password">
            <input type="text" class="form-control" placeholder="Your New Password">
            <input type="text" class="form-control" placeholder="Confirm New Password">
            <button type="submit" class="submit-button" id="update-btn">
              <div class="social-login-label">Change Password</div>
            </button>
          </form>
          <div class="user-help-block">
            <div>
              <a href="#">Forgot your password?</a>
            </div>
            <div>
              <a href="#">Delete account</a>
            </div>
          </div>
        </div>
      </div>
      <form class="edit-profile-block right-col">
        <h2>Edit Your Profile Info</h2>

        <div class="form-group">
          <h4>Personal Info</h4>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="First Name*">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Last Name*">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <input type="text" class="form-control" placeholder="Email*">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Mobile Number*">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Phone Number">
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Identification</h4>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Date of Birth*">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Social Security Number*">
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Residence</h4>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Street Addres*">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="House/Flat Number*">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="City*">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="State*">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Zip">
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Montly Rent*">
            </div>
            <div class="col-md-6">
              <select class="form-control">
                <option disabled>Residence Owner*</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Emplyment Status</h4>
          <div class="row">
            <div class="col-md-12">
                <select class="form-control">
                  <option disabled>Emplyment Status*</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <h4>Vehicle Interested In</h4>
          <div class="row vehicle-block">
            <div class="col-md-6 vehicle-col">
              <div>
                <input type="text" class="form-control" placeholder="City*">
              </div>
              <div>
                <input type="text" class="form-control" placeholder="State*">
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Zip">
              </div>
            </div>
            
            <div class="col-md-6">
              <img src="assets/img/photo.png">
            </div>
          </div>
        </div>

        <div class="edit-profile-tagline">
          Two decades ago, when Subaru took its Legacy wagon and jacked it up, 
          slapped on plastic cladding and gave it an outdoorsy name, nobody imagined 
          the Subaru Outback would become the automaker’s most beloved, best-selling model. 
          I drove an all-new sixth-generation 2020 Outback in Northern California at a Subaru media event.
        </div>

        <div class="d-flex-row submit">
          <button type="submit" class="submit-button" id="update-btn">
            <div class="social-login-label">Update Profile</div>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>