html,body,div,span,applet,object,iframe,h1,h2,h3,h4,
h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,em,img,
strong,ol,ul,li,fieldset,form,label,
table,caption,tbody,tfoot,thead,tr,
th,td,article,aside,figure,figcaption,
footer,header,hgroup,menu,nav,output,
section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* -------------------------------- 

Primary style

-------------------------------- */


body {
  margin: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #f2f2f2;
  /* background: #BA68D7; */
  background: linear-gradient(0deg, rgba(140, 82, 255, 1) 0%, rgba(186, 104, 215, 1) 70%);
}

.bg-wrapper {
  background: linear-gradient(0deg, rgba(140, 82, 255, 1) 0%, rgba(186, 104, 215, 1) 70%);
}

body,
html {
  height: 100%;
}

a, a:hover, a:focus {
  color: #f2f2f2;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.btn-font {
  font-size: 24px;
  font-weight: bold;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  line-height: 36px;
}

button[disabled] {
  background: #eaeaea !important;
}

.avaliable-font1 {
  font-size: 13px;
  color: #8B8C9C;
}

.avaliable-font2 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.form-centered {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-head {
  color: #171838;
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 40px 0 32px 0;
}

.custom-form {
  margin: 0 auto;
  width: 472px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #e0e1e2;
  padding: 0 40px;
}

.boxshadow {
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.08);
}

.login-form-control {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 14px;
  margin-bottom: 24px;
  border-radius: 4px;
  opacity: 0.75;
  font-size: 16px;
  color: #171838;
  border: solid 1px rgba(23,24,56, 0.75)
}

.login-button {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  font-size: 18px;
  padding: 15px 0;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #8C52FF;
  margin-top: 16px;
  cursor: pointer;
  align-items: center;
  background-color: #fff;
  color: #8C52FF;
}

.main-btn {
  background: #8C52FF;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
}

/* end login */

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #BA68D7;
  z-index: 1;
  text-align: center;
  box-shadow: 0px 1px 5px #555;
}

.menu {
  display: none;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

.submit-button {
  color: #fff;
  border: 1px solid #fff;
  height: 48px;
  padding: 0 30px;
  background: none;
  border-radius: 4px;
}

.container.flex-centered {
  margin-top: 10vh;
}

#section3 .container.flex-centered {
  margin-top: 0;
}

.block-description {
  width: 38%;
  margin-right: 12%;
  text-align: left;
}

.tagline {
  width: 100%;
}

.section-heading {
  font-size: 36px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

.error {
  display: flex;
  text-align: left;
  color: tomato;
  font-size: 12px;
}

.theme-green .bs-datepicker-head {
  background-color: #8D52FD;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #8D52FD;
}

.theme-green .bs-datepicker-body table td span.selected {
  background-color: #8D52FD;
}

/*Section1 Styles*/
.cd-section#section1 {
  min-height: 100vh;
}

#section1 .container {
  margin-top: 6vh;
}

.section1-left-block {
  position: relative;
  top: 40px;
  /* width: 40%; */
  margin-left: 11%;
  text-align: right;
}

.auth-button {
  position: absolute;
  left: 51%;
  width: 200px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  padding: 12px 0;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.auth-button.log-in {
  top: 62%;
}

.auth-button.sign-up {
  background-color: #fff;
  color: #BA68D7;
  top: 70%;
}

.promo {
  margin-top: 40px;
  margin-bottom: 50px;
}

.promo span {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
  padding: 10px 30px;
  border-radius: 3px;
}

/**************End Section2 Styles**************/

/*Section2 Styles*/
.section2-left-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3% 0 10%;
}

.image-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.section2-left-block div img {
  margin: 5px;
}

.section2-left-block .wood {
  margin: 20px 0;
}

.section2-left-block p {
  width: 54%;
  font-weight: 600;
}

.section2-subtitle {
  margin-bottom: 10px;
  font-weight: 600;
}

.section2-description {
  margin-bottom: 50px;
}

.hashtag {
  background-color: #c6a8ff;
  font-weight: bold;
  text-transform: uppercase;
  border-left: 1px solid #1AD5B1;
  border-width: 7px;
  padding: 10px 30px;
}

/**************End Section2 Styles**************/

/*Section3 Styles*/
.section3-subtitle {
  margin-bottom: 30px;
  font-weight: 600;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.steps .step {
  position: relative;
  font-size: 20px;
  color: #fff;
  text-align: left;
  max-width: 348px;
  height: 432px;
  padding: 40px 30px;
  margin: 0 25px 25px 0;
  border: 1px solid #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.step > img {
  position: absolute;
  bottom: 7%;
  right: 7%;
}

.step-heading {
  display: flex;
  align-items: center;
}

.step-title {
  margin-left: 20px;
}

.step-title div {
  font-weight: bold;
  font-size: 32px;
}

.step-description {
  opacity: .75;
}

/***************End Section3 Styles**************/

/*Section4 Styles*/

.pledge-block {
  display: flex;
  align-items: center;
}

.squares {
  display: flex;
  flex-direction: column;
}

.squares img {
  margin-bottom: 20px;
}

.counter .subtitle {
  position: relative;
  text-align: center;
  top: 15px;
  font-size: .8rem;
  opacity: .5;
}

.counter .title {
  margin: 0 50px;
  font-size: 4.5rem;
}

.hash-block {
  display: flex;
  flex-direction: column;
}

.hash-block img {
  margin-bottom: 20px;
}

/***************End Section4 Styles**************/


/*Section5 Styles*/
#section5 {
  min-height: 100%;
}

#section5 .container {
  top: 54%;
}

.squares-block {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.squares-block .section-heading {
  margin-bottom: .6rem;
}

.squares-block .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row.mb5 {
  margin-bottom: 5rem;
}

.row .img-block {
  text-align: center;
  margin: 10px;

}

.row .img-block:nth-child(1) {
  margin-left: 0px;
}

/***************End Section5 Styles**************/

.avaliable-block {
  display: flex;
}

.avaliable-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #252645;
  border-radius: 3px;
  padding: 10px 20px;
  box-shadow: 0px 20px 20px rgba(23, 24, 56, 0.25);
}

.avaliable-btn:nth-child(1) {
  margin-right: 20px;
}

.avaliable-btn img {
  margin-right: 10px;
}

.logo {
  text-align: left;
  width: 33%;
}

.social {
  display: flex;
  width: 33%;
  justify-content: center;
}

.social a {
  margin-right: 10px;
}

.social img {
  width: 50px;
}

.right-block {
  text-align: right;
  width: 33%;
}

.right-block span {
  font-size: 15px;
  color: #eaeaea;
}

.right-block i {
  margin-right: 8px;
  color: #fff;
}

.right-block .tree i {
  color: #1AD5B1;
}

.tree .count {
  color: #1AD5B1;
}

.first-line .phone {
  margin-right: 20px;
}

.second-line {
  margin-top: 3px;
}

.profile-menu {
  margin-left: 10px;
}

.profile-menu .dropdown-menu>li>a {
  padding: 10px 20px;
}

.profile-menu img {
  border-radius: 50%;
  width: 50px;
}

.profile-menu img:hover {
  cursor: pointer;
 }

.cd-section {
  /* min-height: 100%; old value */
  min-height: 90vh;
  position: relative;
  padding: 2em 0;
  /* background: linear-gradient(0deg, rgba(140, 82, 255, 1) 30%, rgba(186, 104, 215, 1) 70%); */
  background: linear-gradient(0deg, rgba(140,82,255,1) 0%, rgba(186,104,215,1) 50%, rgba(140,82,255,1) 100%);
}

.column>div {
  display: flex;
  flex-direction: column;
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  transform: translateX(-50%);
  bottom: 5px;
  width: 38px;
  height: 44px;
  background: url("../src/assets/img/svg/arrow-down.svg") no-repeat center center;
}

#cd-vertical-nav ul {
  padding-left: 5px;
  margin: 5px 0;
}

#cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

#cd-vertical-nav li {
  text-align: right;
}

#cd-vertical-nav a {
  backface-visibility: hidden;
}

#cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#cd-vertical-nav a span {
  float: right;
  transform: scale(.5);
}

#cd-vertical-nav a:hover span {
  background-color: #fff;
  transform: scale(.8);
}

#cd-vertical-nav a:hover .cd-label {
  opacity: 1;
  background: none;
}

#cd-vertical-nav a.is-selected .cd-dot {
  background-color: #fff;
}

#cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 7px;
  margin-top: 7px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #c7c6c6;
  transition: transform 0.2s, background-color 0.5s;
  transform-origin: 50% 50%;
}

#cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  margin-top: 5px;
  padding: .4em .5em;
  color: #f2f2f2;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.chat {
  cursor: pointer;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 3%;
  width: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*menu modal styles START*/
.menu-modal {
  margin: 0;
  width: 90%;
}

.menu-modal > .modal-content{
  background-color: #BA68D7;
  border-radius: 0;
  border: none;
}

.menu-modal .header-mobile {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.menu-modal .close-mobile {
  display: flex;
}

.menu-modal .close {
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

.menu-modal .logo-mobile {
  display: flex;
  justify-content: center;
}

.menu-modal .logo-mobile img {
  width: 150px;
}

.menu-modal .modal-body {
  height: 300px;
}

.menu-modal .menu-list li {
  display: flex;
  align-items: center;
  margin: 25px 0;
}

.menu-list li:first-child {
  margin-top: 10px;
}

.menu-list li img {
  width: 30px;
  margin-right: 20px;
}

.menu-list li i {
  font-size: 30px;
  margin-right: 20px;
}

.menu-list li i.fa-map-marker-alt {
  margin-right: 30px;
}

.modal-footer ul {
  display: flex;
  justify-content: center;
}

.modal-footer li {
  margin-right: 15px;
}

.modal-footer li img {
  width: 50px;
}


/*menu modal styles END*/


@media (max-width: 1400px) {
  .profile-menu .dropdown-menu {
    left: -110px;
  }
}

@media (max-width: 1320px) {
  .block-description {
    width: 50%;
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .image-wrapper {
    width: 100%;
  }

  #cd-vertical-nav {
    display: none;
  }

  .cd-scroll-down {
    display: none;
  }

}

@media (max-width: 992px) {
  header .right-block, .profile-menu {
    display: none;
  }

  .image-wrapper {
    width: 63%;
  }

  .section1-left-block {
    width: 100%;
    margin-left: 0;
    top: 0;
  }

  .auth-button {
    width: 140px;
  }

  .auth-button.sign-up {
    top: 72%;
  }

  .block-description {
    width: 100%;
  }

  .steps .step {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  header {
    height: 70px;
  }

  header .container {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .social {
    justify-content: flex-end;
  }

  .menu {
    display: block;
  }

  .flex-centered {
    flex-direction: column;
  }

  .flex-centered > * {
    text-align: center;
  }

  .d-flex-row.col-xs {
    flex-direction: column;
  }

  .block-description {
    width: auto;
    margin-right: 0;
  }

  .avaliable-block {
    width: 100%;
  }

  .avaliable-block a {
    width: 49%;
  }

  .avaliable-btn {
    display: flex;
    justify-content: center;
    padding: 9px 7px;
  }

  .avaliable-btn.app-store {
    margin-right: 2%;
  }

  .avaliable-btn img {
    width: 20px;
  }

  .avaliable-font1 {
    display: none;
  }

  .avaliable-font2 {
    font-size: 15px;
    font-weight: 600;
  }

  /*section1*/

  .promo {
    margin: 20px 0;
  }

  .promo span {
    display: block;
    font-size: 1rem;
    padding: 7px 0;
  }

  .section-heading {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  /***************End Section1 Styles**************/

  /*Section2 Styles*/
  .section2-left-block {
    margin: 0 0 20px 0;
  }

  .section2-left-block p {
    width: 100%;
  }
  /***************End Section2 Styles**************/

  /*section3*/
  .steps img {
    margin-bottom: 15px;
  }
  /***************End Section3 Styles**************/

  /*section4*/
  .pledge-block {
    flex-direction: column;
  }
  /***************End Section4 Styles**************/

  /*section5*/

  .row.mb5 {
    margin-bottom: 1rem;
  }

  /***************End Section5 Styles**************/
}

@media (max-width: 470px) {

  .form-centered {
    height: 70%;
  }

  .custom-form {
    width: 360px;
  }
}

/*CONTAINER STYLES*/
@media (min-width: 768px) {
  .container {
    width: 722px; 
  }
  .avaliable-font1 {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: 946px; 
  }

  .avaliable-font1 {
    display: block;
  }
} 

@media (min-width: 1200px) {
  section .container {
    width: 90%; 
    text-align: center;
    margin-top: 90px;
  }
  .container {
    width: 1170px;
  }
}

@media (max-height: 840px) {
  .container.flex-centered {
    margin-bottom: 3rem;
  }
}

@media (max-height: 700px) {
  .login-form-control {
    height: 46px;
    margin-bottom: 18px;
  }
}
