<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="SPA - Deep Linking" stopProcessing="true">
          <match url="^(?!.*(.js|.css|.png|.jpg|.ico|.svg|.eot|.ttf|.woff|.woff2|.json)).*$" />
          <conditions logicalGrouping="MatchAll" />
          <action type="Rewrite" url="/" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension="woff" />
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
