<div class="m-auto form-centered">
  <div class="custom-form boxshadow">
    <form  class="login" name="loginForm">
      <div class="login-head">
        LOG IN
      </div>

      <button type="button" class="login-button" id="facebook-btn" (click)="facebookLogin()" [disabled]="isLoading">
          <img class="icon" src="./assets/img/svg/facebook-login.svg" width="22px">
          <div class="social-login-label ">LOG IN WITH FACEBOOK</div>
        </button>

      <button type="button" class="login-button" id="google-btn" (click)="googleLogin()" [disabled]="isLoading">
        <img class="icon" src="./assets/img/svg/google-login.svg" width="22px">
        <div class="social-login-label ">LOG IN WITH GOOGLE</div>
      </button>

      <div class="separate-line"></div>
      <div class="separator"> or</div>
      <div class="separate-line"></div>

      <!--User Name Input-->

      <input type="email" class="login-form-control" placeholder="Email"
        id="login-username" />

      <!--Password Input-->

      <input type="password" class="login-form-control" placeholder="Password"
         id="login-password" />

      <button type="button" class="login-button main-btn" id="login-btn" 
     [disabled]="isLoading">
        LOG IN
      </button>

    </form>

    <div class="center">
      <a routerLink="/recover-password"
        id="recovery-password">Forgot your password?</a>
      <div id="pre-register">
         <span>Dont have an account? </span> 
        <a routerLink="/register" id="register">Register</a>
      </div>
    </div>
    
  </div>

