/* Start loginorization Styles */
.container {
  padding-top: 100px;
}


.icon {
  margin-right: 8px;
}


.separator {
  display: inline-block;
  font-size: 14px;
  color: #000;
  margin: 25px 10px;
  opacity: 0.5;
}

.separate-line {
  width: 42%;
  height: 0;
  border-bottom: 1px solid #171838;
  opacity: 0.5;
  margin: 3px 0;
  display: inline-block;
}


.login-form-control:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
}

input.ng-invalid.ng-touched {
  border: 1px solid tomato;
}

.error {
  display: flex;
  text-align: left;
  color: tomato;
  font-size: 12px;
}

.invalid-btn {
  background-color: #78bbf5;
  cursor: auto;
}

.center {
  text-align: center;
  margin-top: 24px;
}

#recovery-password {
  color: #8C52FF;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
}

#register {
  color: #8C52FF;
  font-weight: 600;
  text-align: center;
}

#pre-register {
  font-size: 14px;
  margin-top: 32px;
  margin-bottom: 40px;
}

#pre-register span {
  color: #000;
}

@media (max-height: 700px) {
  .login-head {
    margin: 20px 0 16px 0;
  }

  #pre-register {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .center {
    text-align: center;
    margin-top: 10px;
  }
}