.bottom-line {
    text-align: center;
    font-size: 14px;
    color: #000;
    margin-top: 32px;
    margin-bottom: 40px;
}

.bottom-line .link{
    color: #8C52FF;
    font-weight: 600;
    text-align: center;
}