<div class="form-centered">
  <div class="custom-form boxshadow">
    <form  name="changePasswordForm">
      <div class="login-head">
        CHANGE PASSWORD
      </div>

      <input type="password" class="login-form-control" placeholder="New password"
        id="new-password"/>
      <input type="password" class="login-form-control" placeholder="Confirm password"
        id="confirm-password"/>

        <div class="clearfix">  
          <button type="button" class="login-button main-btn" id="login-btn" 
            [disabled]="isLoading">
            CHANGE PASSWORD
          </button>
        </div>

        <div class="bottom-line">
          <span>Or you can </span> 
         <a routerLink="/login" class="link" id="login">Login</a>
         <span>or</span>
         <a routerLink="/register" class="link" id="register">Create account</a>
       </div>
    </form>
  </div>



