<div class="container"></div>
<div class="m-auto form-centered">
  <div class="custom-form boxshadow">
    <form  class="register" [formGroup]="form" (ngSubmit)="register()">
      <div class="login-head">
        SIGN UP
      </div>

      <div class="row">
        <div class="col-md-6">
          <input type="text" class="login-form-control" formControlName="FirstName" placeholder="First Name*">
          <label *ngIf="form.controls['FirstName']?.touched && (form.controls['FirstName']?.hasError('required') ||
            form.controls['FirstName']?.hasError('minlength') || form.controls['FirstName']?.hasError('maxlength'))" class="error">
            The First Name must be (from 2 to 64 characters)
          </label>
        </div>
        <div class="col-md-6">
          <input type="text" class="login-form-control" formControlName="LastName" placeholder="Last Name*">
          <label *ngIf="form.controls['LastName']?.touched && (form.controls['LastName']?.hasError('required') ||
            form.controls['LastName']?.hasError('minlength') || form.controls['LastName']?.hasError('maxlength'))" class="error">
            The Last Name must be (from 2 to 64 characters)
          </label>
        </div>
      </div>

      <input type="email" class="login-form-control" formControlName="Email" placeholder="Email*"/>
      <label *ngIf="form.controls['Email']?.touched && (form.controls['Email']?.hasError('required') ||
        form.controls['Email']?.hasError('email'))" class="error">
        Enter valid email
      </label>

      <input type="password" class="login-form-control" formControlName="Password" placeholder="Password*"/>
      <label *ngIf="form.controls['Password']?.touched && (form.controls['Password']?.hasError('required') ||
        form.controls['Password']?.hasError('minlength') || form.controls['Password']?.hasError('maxlength'))" class="error">
        The password must be (from 6 to 64 characters)
      </label>
      <label *ngIf="(form.controls['Password']?.touched || form.controls['Password']?.dirty) &&
        form.controls['Password']?.hasError('pattern')" class="error">
        The password must contain some symbol, upper case and lower case letters and numeric value.
      </label>

      <input type="password" class="login-form-control" formControlName="ConfirmPassword" placeholder="Confirm Password*">
      <label *ngIf="form.controls['ConfirmPassword']?.touched && (form.controls['ConfirmPassword']?.hasError('required') ||
        form.controls['ConfirmPassword']?.hasError('minlength') || form.controls['ConfirmPassword']?.hasError('maxlength'))" class="error">
        The password must be (from 6 to 64 characters)
      </label>
      <label *ngIf="(form.controls['ConfirmPassword']?.touched || form.controls['ConfirmPassword']?.dirty) &&
        form.controls['ConfirmPassword']?.hasError('pattern')" class="error">
        The password must contain some symbol, upper case and lower case letters and numeric value.
      </label>

      <input type="text" class="login-form-control" formControlName="ZipCode" placeholder="Zip*">
      <label *ngIf="form.controls['ZipCode']?.touched && form.controls['ZipCode']?.hasError('required')" class="error">
        Zip Code is required.
      </label>

      <button type="button" class="login-button main-btn" id="register-btn" type="submit"
     [disabled]="isLoading || form.invalid">
        SIGN UP
      </button>

    </form>

    <div id="pre-login" class="center">
        <span>Already have an account? </span> <br>
      <a routerLink="/login" id="login">Sign-In to your account</a>
    </div>
    
  </div>