<div class="bg-wrapper">
  <div class="container">
    <div class="choose-application">
      <h2>applications</h2>
      <div class="description">
        Absolutely the best auto lease deals including 2 lears leasing options for multiple states
        (ask us about short term car lease in your state). <span class="green">Leasing a car</span> is simple with
        <span class="green">WOW auto.com</span>.
        Exclusive acess to maked down car leasing invertory & limited discounts. No money (zero) down
        best auto lease deals and specials, short term car lease. Prices for car lease in Brooklyn
        might be sightly lower comparing to leasing io other areas.
        For some models we are not able to show the price, it’s that low.
        Call or chat with us for a quick quote.
      </div>
      <div class="app-types">
        <section class="app-type">
          <div class="type-heading">
            Personal Credit Application
          </div>
          <div class="step-description">
            <img src="assets/img/Blank.png">
            <a routerLink="/registration" class="app-type-button blue">click here</a>
          </div>
        </section>
        <section class="app-type">
          <div class="type-heading">
            Business Credit Application
          </div>
          <div class="step-description">
            <img src="assets/img/Blank1.png">
            <a class="app-type-button brown">soon</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>