@model WowAutoApp.Services.Email.Token.EmailToken;
@*@{
    Layout = "../EmailLayouts/SystemEmailLayout";
}*@

<div style="text-align: center; font-size: 16px; line-height: 28px; color:#606060; padding: 15px;">
    <p>Please confirm your account by clicking</p>
    <a href="@Model.BaseUrl/account/confirm-email?email=@Model.Email&token=@Model.Token"
       style="background-color: #1e88e5; border: none;color: white; padding: 10px 30px;
              text-align: center;text-decoration: none; display: inline-block;
              font-size: 16px; border-radius: 3px;">
        This link
    </a>
</div>