<div class="bg-wrapper">
  <div class="container">
    <form class="credit-application-form" [formGroup]="form" (ngSubmit)="register()">
      <h2>credit application</h2>
  
      <div class="form-group">
        <h4>Personal Info</h4>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name*">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name*">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input class="form-control" formControlName="Email" placeholder="Email*">
            <label *ngIf="form.controls['Email']?.hasError('required') && 
                          form.controls['Email']?.touched" class="error">
                Email is required
            </label>
            <label *ngIf="form.controls['Email']?.hasError('email') && 
                          form.controls['Email']?.touched" class="error">
                Enter valid email
            </label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="MobileNumber" placeholder="Mobile Number*">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Phone Number">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="password" class="form-control" formControlName="Password" placeholder="Password*">
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password*">
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Identification</h4>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="DateOfBirth" placeholder="Date of Birth*">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="SocialSecurityNumber" placeholder="Social Security Number*">
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Residence</h4>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="StreetAddress" placeholder="Street Addres*">
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="HouseFlatNumber" placeholder="House/Flat Number*">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="City" placeholder="City*">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="State" placeholder="State*">
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="ZipCode" placeholder="Zip">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="MonthlyRent" placeholder="Montly Rent*">
          </div>
          <div class="col-md-6">
            <select class="form-control" formControlName="ResidenceOwner">
              <option [value]="null" disabled>Residence Owner*</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Emplyment Status</h4>
        <div class="row">
          <div class="col-md-12">
              <select class="form-control" formControlName="EmploymentStatus">
                <option [value]="null" disabled>Emplyment Status*</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Vehicle Interested In</h4>
        <div class="row vehicle-block">
          <div class="col-md-4 vehicle-col">
            <div>
              <input type="text" class="form-control" placeholder="Vehicle Name*" formControlName="VehicleName">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="DownPayment*" formControlName="DownPayment">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="TotalAmount*" formControlName="TotalAmount">
            </div>
          </div>
          
          <div class="col-md-4">
            <textarea cols="30" rows="10" placeholder="Other Info" formControlName="OtherInfo">
            </textarea>
          </div>
  
          <div class="col-md-4 draggable">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
  
      <hr>
  
      <div class="d-flex-row col-xs">
        <div class="d-flex-row col-xs">
          <button type="button" class="login-button" id="facebook-btn">
            <img class="icon" src="./assets/img/facebook-login-white.png">
            <div class="social-login-label ">LOG IN WITH FACEBOOK</div>
          </button>
    
          <button type="button" class="login-button" id="google-btn">
            <img class="icon" src="./assets/img/google-login-white.png">
            <div class="social-login-label ">LOG IN WITH GOOGLE</div>
          </button>
        </div>
  
        <button type="submit" [disabled]="form.invalid" class="login-button">
          SUBMIT
        </button>
      </div>
  
    </form>
  </div>
</div>

<app-footer></app-footer>