<div class="bg-wrapper">
  <div class="container">
    <form class="credit-application-form" [formGroup]="form" (ngSubmit)="register()">
      <h2>credit application</h2>
  
      <div class="form-group">
        <h4>Personal Info</h4>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="FirstName" placeholder="First Name*">
            <label *ngIf="form.controls['FirstName']?.hasError('required') ||
                          form.controls['FirstName']?.hasError('minlength') || 
                          form.controls['FirstName']?.hasError('maxlength')" class="error">
                The First Name must be (from 2 to 32 characters)
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="LastName" placeholder="Last Name*">
            <label *ngIf="form.controls['LastName']?.hasError('required') ||
                          form.controls['LastName']?.hasError('minlength') || 
                          form.controls['LastName']?.hasError('maxlength')" class="error">
              The Last Name must be (from 2 to 32 characters)
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input class="form-control" formControlName="Email" placeholder="Email*">
            <!-- <label *ngIf="form.controls['Email']?.hasError('required') && 
                          form.controls['Email']?.touched" class="error">
                Email is required
            </label> -->
            <label *ngIf="form.controls['Email']?.hasError('required') ||
                          form.controls['Email']?.touched && form.controls['Email']?.hasError('email')" 
              class="error">
                Enter valid email
            </label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="MobileNumber" placeholder="Mobile Number*">
            <label *ngIf="form.controls['MobileNumber']?.hasError('required') ||
                          form.controls['MobileNumber']?.hasError('minlength') || 
                          form.controls['MobileNumber']?.hasError('maxlength')" class="error">
              The number must be (from 10 to 15 characters)
            </label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Phone Number">
            <label *ngIf="(form.controls['PhoneNumber']?.touched || form.controls['PhoneNumber']?.dirty) && 
              (form.controls['PhoneNumber']?.hasError('minlength') || 
              form.controls['PhoneNumber']?.hasError('maxlength'))" class="error">
              The number must be (from 10 to 15 characters)
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="password" class="form-control" formControlName="Password" placeholder="Password*">
            <label *ngIf="form.controls['Password']?.hasError('required') ||
                          form.controls['Password']?.hasError('minlength') || 
                          form.controls['Password']?.hasError('maxlength')" class="error">
                The password must be (from 6 to 64 characters)
            </label>
            <label *ngIf="(form.controls['Password']?.touched || form.controls['Password']?.dirty) &&
                           form.controls['Password']?.hasError('pattern')"
                class="error">
                The password must contain some symbol, upper case and lower case letters and numeric value.
            </label>
          </div>
          <div class="col-md-6">
            <input type="password" class="form-control" formControlName="ConfirmPassword" placeholder="Confirm Password*">
            <label *ngIf="form.controls['ConfirmPassword']?.hasError('required') ||
                          form.controls['ConfirmPassword']?.hasError('minlength') || 
                          form.controls['ConfirmPassword']?.hasError('maxlength')" class="error">
                The password must be (from 6 to 64 characters)
              </label>
              <label *ngIf="(form.controls['ConfirmPassword']?.touched || form.controls['ConfirmPassword']?.dirty) &&
                             form.controls['ConfirmPassword']?.hasError('pattern')"
                class="error">
                The password must contain some symbol, upper case and lower case letters and numeric value.
              </label>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Identification</h4>
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text"
                   formControlName="DateOfBirth"
                   placeholder="Date of Birth*"
                   class="form-control"
                   [bsConfig]="{ dateInputFormat: 'MM.DD.YYYY' }"
                   bsDatepicker>
            <label *ngIf="form.controls['DateOfBirth']?.hasError('required')" class="error">
              Date of Birth is required.
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="SocialSecurityNumber" placeholder="Social Security Number*">
            <label *ngIf="form.controls['SocialSecurityNumber']?.hasError('required')" class="error">
              Social Security Number is required.
            </label>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Residence</h4>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="StreetAddress" placeholder="Street Addres*">
            <label *ngIf="form.controls['StreetAddress']?.hasError('required')" class="error">
              Street Addres is required.
            </label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="HouseFlatNumber" placeholder="House/Flat Number">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="City" placeholder="City*">
            <label *ngIf="form.controls['City']?.hasError('required')" class="error">
              City is required.
            </label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="State" placeholder="State*">
            <label *ngIf="form.controls['State']?.hasError('required')" class="error">
              State is required.
            </label>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" formControlName="ZipCode" placeholder="Zip*">
            <label *ngIf="form.controls['ZipCode']?.hasError('required')" class="error">
              Zip Code is required.
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" formControlName="MonthlyRent" placeholder="Montly Rent*">
            <label *ngIf="form.controls['ZipCode']?.hasError('required')" class="error">
              Montly Rent is required.
            </label>
          </div>
          <div class="col-md-6">
            <select class="form-control" formControlName="ResidenceOwner">
              <option [value]="null" disabled>Residence Owner*</option>

              <option 
                *ngFor="let type of OwnerTypes "
                [ngValue]="type"
                id="{{type}}">
                {{ type | stringSplitter}}
              </option>
            </select>
            <label *ngIf="form.controls['ResidenceOwner']?.hasError('required')" class="error">
              The Residence Owner must be selected.
            </label>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Emplyment Status</h4>
        <div class="row">
          <div class="col-md-12">
              <select class="form-control" formControlName="EmploymentStatus">
                <option [value]="null" disabled>Emplyment Status*</option>
                <option 
                  *ngFor="let type of EmploymentStatusTypes "
                  [ngValue]="type"
                  id="{{type}}">
                  {{ type | stringSplitter}}
                </option>
              </select>
              <label *ngIf="form.controls['EmploymentStatus']?.hasError('required')" class="error">
                The Employment Status must be selected.
              </label>
          </div>
        </div>
      </div>
  
      <div class="form-group">
        <h4>Vehicle Interested In</h4>
        <div class="row vehicle-block">
          <div class="col-md-4 vehicle-col">
            <div>
              <input type="text" class="form-control" placeholder="Vehicle Name" formControlName="VehicleName">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Down Payment" formControlName="DownPayment">
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Total Amount" formControlName="TotalAmount">
            </div>
          </div>
          
          <div class="col-md-4">
            <textarea cols="30" rows="10" placeholder="Other Info" formControlName="OtherInfo">
            </textarea>
          </div>
  
          <div class="col-md-4 draggable">
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
  
      <hr>
  
      <div class="d-flex-row col-xs">
        <div class="d-flex-row col-xs">
          <!-- <button type="button" class="login-button" id="facebook-btn">
            <img class="icon" src="./assets/img/facebook-login-white.png">
            <div class="social-login-label ">LOG IN WITH FACEBOOK</div>
          </button>
    
          <button type="button" class="login-button" id="google-btn">
            <img class="icon" src="./assets/img/google-login-white.png">
            <div class="social-login-label ">LOG IN WITH GOOGLE</div>
          </button> -->
        </div>
  
        <button type="submit" [disabled]="form.invalid" class="login-button">
          SUBMIT
        </button>
      </div>
  
    </form>
  </div>
</div>

<app-footer></app-footer>