<div class="bg-wrapper">
  <div class="container">
    <div class="d-flex-row col-xs">
      <form class="edit-profile-block right-col">
        <h2>Add Vehicle</h2>

        <div class="form-group">
          <h4>Vehicle Interested In</h4>
          
          <div class="row vehicle-block">  
            <div class="col-md-6 vehicle-col">
                <div>
                  <input type="text" class="form-control" placeholder="First name*">
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Last name*">
                </div>
              <div>
                <input type="text" class="form-control" placeholder="Mailing / Registering address">
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Budget">
              </div>
              <div>
                <select class="form-control">
                  <option disabled>Vehicle Make*</option>
                  <option value="1">Bentley</option>
                  <option value="2">BMW</option>
                  <option value="3">Buick</option>
                </select>
              </div>
              <div>
                <select class="form-control">
                  <option disabled>Vehicle Model*</option>
                  <option value="1">318</option>
                  <option value="2">320</option>
                  <option value="3">M3</option>
                </select>
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Year">
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Description">
              </div>
            </div>
            
            <div class="col-md-6">
              <img src="assets/img/ford-escape.png">
            </div>
          </div>
        </div>

        <div class="d-flex-row submit">
          <button type="submit" class="submit-button" id="add-vehicle-btn">
            <div class="social-login-label">Add vehicle</div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
