<div class="bg-wrapper">
  <div class="container">
    <div class="managment-block">
      <a [routerLink]="['../add']"
        id="add-href-vehicle">

        <button class="block-button" id="add-vehicle-page-btn">
            Add vehicle
        </button>
      </a>
    </div>

    <div *ngFor="let vehicle of vehicleViewModel ; trackBy: trackByFunction"
        class="card">
      <div class="list-vehicle-block">
        <h2>Vehicle info {{vehicle}}</h2>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>